@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 82px;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(90, 88, 88);
}

span {
	font-weight: bolder;
	color: $main-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
	transition: background-color 0.6s;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}

// navigation
nav {
	text-transform: uppercase;
	z-index: 1;

	a.nav-link {
		color: $second-color;
	}

	a.nav-link:hover {
		color: $main-color;
	}

	.fa-bars {
		padding: 10px;
	}

	.navbar-brand {
		color: $second-color;
		font-weight: bold;
	}

	.active {
		color: $main-color;
	}
}

// header
header {
	color: $second-color;

	h1 {
		text-transform: uppercase;
	}

	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('../img/qatar-ga45af88d6_1920.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;

		.hero-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: -2;
		}

		.hero-text {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: 100%;
			padding: 10px;
			text-align: center;
			z-index: 5;
		}
		h1 {
			font-size: 50px;
		}
		.hero {
			font-size: 50px;
		}
		.btn-outline-light {
			text-transform: uppercase;
		}
		.fa-chevron-down {
			position: absolute;
			font-size: 30px;
			left: 50%;
			transform: translateX(-50%);
			bottom: 20px;
			color: $second-color;
		}
	}
}

// main

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}

	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}

	.aboutus-card-text {
		font-size: 14px;
	}

	.aboutus-hover {
		transition: color 0.5s;
	}

	.aboutus-hover:hover {
		color: $main-color;
	}
}

.portfolio {
	position: relative;

	.carusel-item {
		height: 600px;
	}
}

.achievements {
	padding-top: 30px;
	
	i {
		padding: 10px;
		font-size: 48px;
		color: rgb(206, 200, 200);
		text-shadow: 0 0 5px #000;
	}

	i:hover {
		color: $main-color;
		transition: color .3s;
	}
	.achievements-list{
		padding: 20px 0;
	}
	.achievements-numbers{
		font-size: 22px;
	}
	.achievements-text{
		font-size: 14px;
		text-transform: uppercase;
	}
}

@media (min-width: 1200px) {
	header {
		.hero-img {
			position: relative;
			height: 100vh;
			background-image: url('../img/qatar-ga45af88d6_1920.jpg');
		}
	}
}

@media (min-width: 768px) {
	header {
		h1 {
			font-size: 40px;
		}
		p {
			font-size: 16px;
		}
	}
}

@media (min-width: 375px) {
	header {
		h1 {
			font-size: 20px;
		}
		p {
			font-size: 14px;
		}
	}
}
